<h1>FirstAPP</h1>

<h2>
  <%= current_user.nickname %>
  さんのTODO
</h2>

<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>

<%= form_with model: @post, id: "form" do |form| %>
  <%= form.text_field :content %>
  <%= form.submit '投稿する' , id: "submit" %>
<% end %>

<div id="list">
</div>
<% current_user.posts.each do |post| %>
  <div class="post" data-id = <%= post.id %> data-check=<%= post.checked %>>
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>
